body {
    background-color: #252525;
}

.subheader {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    letter-spacing: 2px;
    font-family: 'Quicksand', sans-serif;
    width: 1150px;
    margin: 0 auto;
    color: black;
    box-sizing: border-box;
    background-color: white;
    font-weight: bold;
}


.header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 2em;
    line-height: 1;
    letter-spacing: 2px;
    width: 1150px;
    height: 100px;
    margin: 0 auto;
    color: black;
    box-sizing: border-box;
    background-color: white;
  }

a:visited {
    color: rgb(0, 0, 128)
}

a:link {
    color: rgb(0, 128, 0)
}

a:hover {
    color: rgb(0, 64, 64)
}

