.title {
    font-family: 'Montserrat Subrayada', sans-serif;
    letter-spacing: -.15px;
    font-size: 4em;
    margin: 18px 0;
    display: inline-block;
  }
  
  .title a {
    text-decoration: none;
    color: white;
  }
  
  .title a:hover {
    color: rgb(255, 0, 76);
  }
  