.errorCode {
  display: block;
  font-size: 4em;
  font-family: "nimbus", sans-serif;
  letter-spacing: .15px;
  margin: 6px 0;
  color: var(--base-text);
}

.errorText {
    display: block;
    font-size: 2em;
    font-family: "nimbus", sans-serif;
    letter-spacing: .15px;
    margin: 18px 0;
    color: var(--base-text);
}

.errorText a {
  text-decoration: none;
  color: var(--base-hyperlink);
}

.errorText a:hover {
    color: var(--hover-hyperlink);
}